<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> 気持ちの整理 </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="signOut()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div id="container">
    <strong>{{todayDate}}</strong>
    <div class="box">
      <ion-textarea
        (ionChange)="changeStatusText($event)"
        class="ion-text-left"
        [(ngModel)]="text"
        [autofocus]="true"
        placeholder="不安を記載してみよう"
        rows="15"
      >
      </ion-textarea>
    </div>
    <div class="block-button">
      <ion-button [disabled]="disabledSave" (click)="onSave()" expand="block"
        >保存</ion-button
      >
    </div>
  </div>
</ion-content>
